<html>
<head>
	<title>League Bans</title>
</head>
<body>
<table>
	<thead>
		{{#each header}}
			<td>{{this}}</td>
		{{/each}}
	</thead>
	{{#each data}}
		<tr>
			{{#each this}}
				<td>{{this}}</td>
			{{/each}}
		</tr>
	{{/each}}
</table>
</body>
</html>
